<div class="container-md content" style="display: flex">
<div>
    <img width="450px" style="margin-right: 50px" src="https://organicsnewsbrasil.com.br/wp-content/uploads/2015/07/inc%C3%AAndios-florestais-sestr.jpg">
</div>
<div>
    <h1>Vigilantes da Floresta</h1>
    <p>Devido ao crescente número de queimadas principalmente
        nas regiões norte e centro-oeste do Brasil e também das 
        queimadas provenientes gerando nuvens de fumaça por todos 
        os cantos da América Latina nasceu o Jogo Vigilantes
        da Floresta.
    </p>
    <p>
        Prevenir queimadas não é uma tarefa fácil e para conscientizar
        os cidadãos disso, o jogo é bastante difícil, mas é para demonstrar
        a atenção que precisamos ter com focos de queimadas e incêndios
        florestais e não permitir que eles ocorram.
    </p>
</div>
</div>