<div class="container-md content">
    <h1>Curso de {{curso.nome}}</h1>
    <p><b>Área do Conhecimento:</b> {{curso.Area.nome}}</p>
    <p><b>Sigla:</b> {{curso.sigla}}</p>
    <p><b>Descrição:</b> {{curso.descricao}}</p>
</div>